.header {
    border-bottom: 2px solid #F8F8F8;


 
    .info-container {
        display: flex;
        background-color: #121212;
        justify-content: center;

        .info {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 1110px;
            @media (min-width: 641px) and (max-width: 1160px) {
                margin: auto 5%;
            }

            @media (min-width: 320px) and (max-width: 640px) {
                margin: auto 5%;
                flex-direction: column;
            }
    
    
            .phone-container {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-right: 31px;

                @media (min-width: 320px) and (max-width: 640px) {
                    margin: auto;
                }
                
    
                .link {
                    padding-top: 3px;
                    opacity: 0.8;
                }
            }

            .address-container {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-right: 53px;

                @media (min-width: 320px) and (max-width: 640px) {
                    margin: auto;
                }

                .address {
                    color: white;
                    font-weight: 400;
                    font-size: 11px;
                    padding-top: 3px;
                    opacity: 0.8;
                }
            }

            .work-time-container {
                display: flex;
                align-items: center;
                justify-content: center;

                @media (min-width: 320px) and (max-width: 640px) {
                    margin: auto;
                }

                .time {
                    color: white;
                    font-weight: 500;
                    font-size: 11px;
                    padding-top: 3px;
                    opacity: 0.8;
                }
            }
    
            span {
                color: white;
            }
    
            .contacts {
                display: flex;
                padding: 6px 0;

                @media (min-width: 320px) and (max-width: 640px) {
                    margin: auto 20px;
                    flex-direction: column;
                }
            }
    
            .icon {
                width: 14px;
                height: 14px;
                margin-right: 8px;
            }

            .social {
                margin-left: 10px;
                margin-right: 0;
            }
    
            .link {
                text-decoration: none;
                color: white;
                font-weight: 700;
                font-size: 11px;
            }
        }
    }
    .menu-container{
        max-width: 1110px;
        display: flex;
        justify-content: center;
        margin: auto;
        justify-content: space-between;

        @media (min-width: 641px) and (max-width: 1160px) {
            flex-wrap: wrap;
            margin: 0px 5% 0;
            
        }
    
        @media (min-width: 320px) and (max-width: 640px) {
            margin: 0px 5% 0;
            flex-wrap: wrap;
        }
            

        .logo{
            padding-top: 17px;
            padding-bottom: 17px;
        }

        .menu{
            ul{
                display: flex;
                margin-top: 23px;
            
                @media (min-width: 320px) and (max-width: 640px) {
                    flex-wrap: wrap;
                }

                li{
                    a{
                        text-decoration: none;
                        color: black;
                    }
                    list-style-type: none;
                    font-size: 14px;
                    font-weight: 400;
                    margin-right: 32px;

                }
            }
            
        }
        .self-navigation{
            padding-top: 17px;
            .button{
                border: none; 
                background: none;
                padding: 0;
                margin-left: 24px;
                cursor: pointer;

                .img-button{
                    width: 24px;
                    height: 24px;
                }
            }
            
        }
    }
}
