.header {
    border-bottom: 2px solid #F8F8F8;

 
    .info-container {
        display: flex;
        background-color: #121212;
        justify-content: center;

        .info {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 1110px;
            @media (min-width: 641px) and (max-width: 1160px) {
                margin: auto 5%;
            }

            @media (min-width: 320px) and (max-width: 640px) {
                margin: auto 5%;
                flex-direction: column;
            }
    
    
            .phone-container {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-right: 31px;

                @media (min-width: 320px) and (max-width: 640px) {
                    margin: auto;
                }
                
    
                .link {
                    padding-top: 3px;
                    opacity: 0.8;
                }
            }

            .address-container {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-right: 53px;

                @media (min-width: 320px) and (max-width: 640px) {
                    margin: auto;
                }

                .address {
                    color: white;
                    font-weight: 400;
                    font-size: 11px;
                    padding-top: 3px;
                    opacity: 0.8;
                }
            }

            .work-time-container {
                display: flex;
                align-items: center;
                justify-content: center;

                @media (min-width: 320px) and (max-width: 640px) {
                    margin: auto;
                }

                .time {
                    color: white;
                    font-weight: 500;
                    font-size: 11px;
                    padding-top: 3px;
                    opacity: 0.8;
                }
            }
    
            span {
                color: white;
            }
    
            .contacts {
                display: flex;
                padding: 6px 0;

                @media (min-width: 320px) and (max-width: 640px) {
                    margin: auto 20px;
                    flex-direction: column;
                }
            }
    
            .icon {
                width: 14px;
                height: 14px;
                margin-right: 8px;
            }

            .social {
                margin-left: 10px;
                margin-right: 0;
            }
    
            .link {
                text-decoration: none;
                color: white;
                font-weight: 700;
                font-size: 11px;
            }
        }
    }
    .menu-container{
        max-width: 1110px;
        display: flex;
        align-items: center;
        margin: auto;
        justify-content: space-between;
        @media (min-width: 641px) and (max-width: 1160px) {
            margin: auto 5%;
        }

        @media (min-width: 320px) and (max-width: 640px) {
            margin: auto 5%;
            flex-direction: column;
        }

        
            

        .logo{
            padding-top: 17px;
            padding-bottom: 17px;

            @media (min-width: 320px) and (max-width: 640px) {
                padding-top: 25px;
            }
        }

        .menu{


            @media (min-width: 320px) and (max-width: 1160px) {
                display: none;
            }
            ul{
                display: flex;
                margin-top: 23px;

                li{
                    list-style-type: none;
                    font-size: 14px;
                    font-weight: 400;
                    margin-right: 32px;

                    a{
                        text-decoration: none;
                        color: black;
                    }
                    

                }
            }
            
        }

        .self-navigation{
            padding-top: 17px;
            display: flex;
            @media (min-width: 320px) and (max-width: 640px) {
                margin-bottom: 5%;
                justify-content: space-between;
                padding-top: 0;
            }

            .button{
                border: none; 
                background: none;
                padding: 0;
                margin-left: 24px;
                cursor: pointer;

                .img-button{
                    width: 24px;
                    height: 24px;
                }
            }

            .button.burger {
                display: none;

                @media (min-width: 641px) and (max-width: 1160px) {
                    display: block;
                    flex-direction: column;
                    align-items: stretch;
                    justify-content: space-around;
                    height: 24px;
                    display: flex;
                }
        
                @media (min-width: 320px) and (max-width: 640px) {
                    display: block;
                    flex-direction: column;
                    align-items: stretch;
                    justify-content: space-around;
                    height: 24px;
                    display: flex;
                }

                .burger-line {
                    width: 24px;
                    height: 1px;
                    background-color: #121212;
                    display: flex;
                }

                .top {
                    transition: transform 0.25s;
                }

                .bottom {
                    transition: transform 0.25s;
                }
            }


            .button.burger.open {
                position: relative;
                width: 24px;
                

                .top {
                    width: 28px;
                    transform: rotate(45deg);
                    position: absolute;
                    left: 0;
                    left: -2px;
                    transition: transform 0.25s;
                }

                .middle {
                    display: none;
                }

                .bottom {
                    width: 28px;
                    transform: rotate(-45deg);
                    position: absolute;
                    left: -2px;
                    transition: transform 0.25s;
                }
            }
        }
    }

    .overlay {
        position: fixed;
        z-index: 11;
        background-color: rgb(248 248 248 / 90%);
        width: 100%;
        transform: translateX(0);
        transition: transform 0.35s ease-out;
        height: 100vh;

        .burger-menu {

            ul {
                display: flex;
                flex-direction: column;
                margin-top: 40px;
                margin-bottom: 70px;

                li {
                    list-style-type: none;
                    font-size: 20px;
                    font-weight: 400;
                    margin-left: 30px;
                    height: 60px;
                    height: 70px;
                    display: flex;
                    align-items: center;
                    a{
                        text-decoration: none;
                        color: rgb(18 18 18 / 80%);
                    }
                }
            }
        }
    }

    .hidden-overlay {
        position: fixed;
        
        z-index: -1;
        background-color: rgb(248 248 248 / 70%);
        width: 100%;
        transform: translateX(-100%);
        .burger-menu {

            ul {
                display: flex;
                flex-direction: column;
                margin-top: 40px;
                margin-bottom: 70px;

                li {
                    list-style-type: none;
                    font-size: 20px;
                    font-weight: 400;
                    margin-left: 30px;
                    height: 60px;
                    height: 70px;
                    display: flex;
                    align-items: center;
                    a{
                        text-decoration: none;
                        color: rgb(18 18 18 / 80%);
                    }
                }
            }
        }
        

    }
}
