.footer{

    .footer-wraper{
        max-width: 1110px;
        margin: 0 auto;

        @media (min-width: 641px) and (max-width: 1160px) {
            margin: 0px 5% 0;
            
        }
    
        @media (min-width: 320px) and (max-width: 640px) {
            margin: 0px 5% 0;
        }
    }

    .top-part{
        background-color: #121212;
        height: 56px;

        @media (min-width: 641px) and (max-width: 1160px) {
            height: auto;
            
        }
    
        @media (min-width: 320px) and (max-width: 640px) {
            height: auto;
        }

        .top{
            padding: 12px 0;
            display: flex;
            justify-content: space-between;
            align-items: center;

            @media (min-width: 641px) and (max-width: 1160px) {
                flex-direction: column;
                
            }
        
            @media (min-width: 320px) and (max-width: 640px) {
                flex-direction: column;
            }
            
            .footer-title{
                color: white;
                font-size: 12px;
                font-weight: 600;
                line-height: 18px;
                letter-spacing: 0.06em;
            }

            .input-block{
                display: flex;
                align-items: center;


                @media (min-width: 641px) and (max-width: 1160px) {
                    margin: 5px auto;
                    
                }
            
                @media (min-width: 320px) and (max-width: 640px) {
                    margin: 5px auto;
                    flex-direction: column;
                }

                .footer-input{
                    padding-left: 16px;
                    font-size: 13px;
                    font-weight: 500;
                    line-height: 18px;
                    letter-spacing: 0em;
                    text-align: left;
                    color: white;
                    background: rgba(255, 255, 255, 0.2);
                    border: none;
                    width: 400px;
                    height: 32px;
                    margin-right: 12px;

                    @media (min-width: 641px) and (max-width: 1160px) {
                        width: 400px;
                        
                    }
                
                    @media (min-width: 320px) and (max-width: 640px) {
                        width: 150%;
                    }

                }
                .footer-input::placeholder {
                    color: white;
                    opacity: 0.4;
                }

                .footer-button{
                    background-color: #121212;
                    border: 2px solid white;
                    color: white;
                    opacity: 0.9;
                    width: 108px;
                    height: 32px;
                    font-size: 12px;
                    font-weight: 600;
                    line-height: 18px;
                    letter-spacing: 0.06em;
                    text-align: center;
                    cursor: pointer;

                    @media (min-width: 320px) and (max-width: 640px) {
                        margin: 10px auto;
                        
                    }
                }
            }
            .icon {
                width: 14px;
                height: 14px;
                margin-right: 8px;

                @media (min-width: 641px) and (max-width: 1160px) {
                    margin: 0;
                    
                }
            
                @media (min-width: 320px) and (max-width: 640px) {
                    margin: 0;
                }
            }

            .social {
                align-items: flex-end;
                margin-left: 10px;
                margin-right: 0;

                @media (min-width: 641px) and (max-width: 1160px) {
                    margin: 0 10px;
                    
                }
            
                @media (min-width: 320px) and (max-width: 640px) {
                    margin: 0 10px;
                }
            }
    
        }
    }
    .middle-part{

        @media (min-width: 641px) and (max-width: 1160px) {
            margin: 0px 5% 0;
            
        }
    
        @media (min-width: 320px) and (max-width: 640px) {
            margin: 0px 5% 0;
        }

        .middle{
            margin: 40px auto;
            display: flex;
            justify-content: space-between;
            text-align: left;

            @media (min-width: 641px) and (max-width: 1160px) {
                
                
            }
        
            @media (min-width: 320px) and (max-width: 640px) {
                flex-direction: column;
                align-items: center;
                margin: 30px auto 0;
            }
            .categories{
                @media (min-width: 320px) and (max-width: 640px) {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }
                .catrgories-title{
                    font-size: 12px;
                    font-weight: 600;
                    line-height: 13px;
                    letter-spacing: 0.06em;
                    text-transform: uppercase;

                    @media (min-width: 320px) and (max-width: 640px) {
                        line-height: 20px;
                    }

                }
                ul{
                    padding: 0;

                    @media (min-width: 320px) and (max-width: 640px) {
                        margin-top: 3px;
                    }

                    
    
                    li{
                        list-style-type: none;
                        font-size: 12px;
                        font-weight: 400;
                        line-height: 34px;
                        letter-spacing: 0em;
                        opacity: 0.8;

                        @media (min-width: 320px) and (max-width: 640px) {
                            line-height: 20px;
                        }

                            a{
                                text-decoration: none;
                                color: #121212; 
                                display: flex;
                                align-items: center; 
                                
                                @media (min-width: 320px) and (max-width: 640px) {
                                    justify-content: center;
                                }

                            } 
                            img{
                                width: 18px;
                                margin-right: 8px;
                            }                       
                    }

                    .email a {
                        text-decoration: underline;
                    }
                    
                }
                
            
            }
        }

    }
    .bottom-part{
        background-color: #F8F8F8;

        .bottom {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 9px 0;

            @media (min-width: 641px) and (max-width: 1160px) {
                margin: 0px 5% 0;
                flex-direction: column;
            }
        
            @media (min-width: 320px) and (max-width: 640px) {
                margin: 0px 5% 0;
                flex-direction: column;
            }

            .copyright {
                font-weight: 500;
                font-size: 11px;
                opacity: 0.8;
            }

            .group {
                width: 381px;

                @media (min-width: 641px) and (max-width: 1160px) {
                    margin: 10px auto;
                
                    
                }

                @media (min-width: 320px) and (max-width: 640px) {
                    margin: 10px auto;
                    width: 80%;
                }
            }

            .pr-link {
                color: #121212;
                font-size: 11px;
                font-weight: 500;
                opacity: 0.8;
            }
        }
    }
}