.section-wraper{
    max-width: 1110px;
    margin: 28px auto 0;
    display: flex;
    flex-wrap: wrap;

    @media (min-width: 641px) and (max-width: 1160px) {
        margin: auto 5%;
        justify-content: center;
    }

    @media (min-width: 320px) and (max-width: 640px) {
        margin: auto 5%;
        flex-direction: column;
    }
    .left-block{
        position: relative;
        margin-right: 15px;
        width: 48%;

        @media (min-width: 641px) and (max-width: 1160px) {
            margin: auto 0 15px;
            width: 100%;
        }

        @media (min-width: 320px) and (max-width: 640px) {
            margin: auto 0 15px;
            width: 100%;
            display: flex;
            justify-content: center;


        }
        .big-image {
            
            @media (min-width: 641px) and (max-width: 1160px) {
                width: 100%;
            }
    
            @media (min-width: 320px) and (max-width: 640px) {

                width: 100%;
    
            }
        }
        .slider{
            z-index: 1;

            @media (min-width: 641px) and (max-width: 1160px) {
                justify-content: center;
            }
        
            @media (min-width: 320px) and (max-width: 640px) {
                margin: 0;
                flex-direction: column;
            }
            .banner{
                width: 290px;
                height: 100px;
                background-color: white;
                position: absolute;
                top: calc(50% - 50px);
                left: calc(50% - 145px);
                display: flex;
                flex-direction: column;
                border-radius: 4px;
                text-align: center;

                @media (min-width: 641px) and (max-width: 1160px) {
                    justify-content: center;
                    left: calc(50% - 145px);
                }
            
                @media (min-width: 320px) and (max-width: 640px) {
                    justify-content: center;
                    width: 50%;
                    left: 25%;
                }
                .title{
                    margin-top: 25px;
                    font-size: 12px;
                    font-weight: 600;
                    line-height: 13px;
                    letter-spacing: 0.06em;
                    opacity: 40%;
                    text-transform: uppercase;
                    @media (min-width: 320px) and (max-width: 640px) {
                       // font-size: 8px;
                    }
                }
                .banners-text{
                    margin-top: 14px;
                    font-size: 22px;
                    font-weight: 600;
                    line-height: 25px;
                    letter-spacing: 0.06em;
                    text-transform: uppercase;

                    @media (min-width: 320px) and (max-width: 640px) {
                        font-size: 16px;
                    }
                }
                
            }
            button{
                border: none; 
                background: none;
                padding: 0;
                position: absolute;
                cursor: pointer;
                
            }

            .left-arrows{
                top: calc(50% - 20px);
                left: 5%;
                
                @media (min-width: 641px) and (max-width: 1160px) {
                    left: 5%;
                }
                
                @media (min-width: 320px) and (max-width: 640px) {
                    left: 5%;
                 }
            }
            .right-arrows{
                top: calc(50% - 20px);
                right: 5%;

                @media (min-width: 641px) and (max-width: 1160px) {
                    right: 5%;
                }

                @media (min-width: 320px) and (max-width: 640px) {
                    right: 5%;
                 }
            }

        }

        .swiper-button-prev {
            width: 60px;
            left: 24px;
            background-image: url('./img/left.png');
            background-repeat: no-repeat;

            &::after {
                display: none;
            }
        }

        .swiper-button-next {
            width: 64px;
            right: 0;
            background-image: url('./img/right.png');
            background-repeat: no-repeat;

            &::after {
                display: none;
            }
        }
    }
    .right-block{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: 15px;

        @media (min-width: 641px) and (max-width: 1160px) {
            width: 100%;
            margin: auto 0;
            justify-content: center;
        }

        @media (min-width: 320px) and (max-width: 640px) {
            margin: auto 0;
            flex-wrap: nowrap;
        }

        .clowse-section{
            display: flex;
            justify-content: space-between;

            @media (min-width: 641px) and (max-width: 1160px) {
                
                width: 100%;
            }
            
            @media (min-width: 320px) and (max-width: 640px) {
                flex-direction: column;
                margin: 0;
                width: 100%;
                display: flex;
                justify-content: center;
            }

            .clowse{
                position: relative;

                @media (min-width: 641px) and (max-width: 1160px) {
                    margin: auto 0 15px;
                    display: flex;
                    justify-content: space-between;
                    width: 49%;
                }

                @media (min-width: 320px) and (max-width: 640px) {
                    display: flex;
                    justify-content: center;
                    margin: auto 0 15px;
                }
                .image {

                    @media (min-width: 641px) and (max-width: 1160px) {
                        height: 150px;
                        width: 100%;
                        object-fit: cover;
                    }

                    @media (min-width: 320px) and (max-width: 640px) {
                        height: 150px;
                        width: 100%;
                        object-fit: cover;
                    }
                }
                .label{
                    position: absolute;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 48px;
                    width: 118px;
                    background-color: white;
                    border-radius: 4px;


                    .span{
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 22px;
                        letter-spacing: 0.06em;
                        text-transform: uppercase;
                    }
                }
                .woomen-banner{
                    top: calc(50% - 20px);
                    left: calc(50% - 59px);

                    @media (min-width: 641px) and (max-width: 1160px) {
                        
                    }
                
                    @media (min-width: 320px) and (max-width: 640px) {
                        justify-content: center;

                    }
                }
                .men-banner{
                    top: calc(50% - 20px);
                    left: calc(50% - 59px);

                    @media (min-width: 641px) and (max-width: 1160px) {

                    }
                
                    @media (min-width: 320px) and (max-width: 640px) {
                        justify-content: center;

                    }
                }
            }
        }
        .accessories{
            height: auto;
            position: relative;

            .accessories-image { 
                width: 100%;
                
            }

            .label{
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 48px;
                width: 166px;
                background-color: white;
                top: calc(50% - 24px);
                left: calc(50% - 83px);
                border-radius: 4px;
                span{
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 22px;
                    letter-spacing: 0.06em;
                    text-transform: uppercase;
                }
            }
        }
    }

}