.card-wraper{
    width: 255px;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-bottom: 30px;

    @media (min-width: 641px) and (max-width: 1160px) {
        margin-left: 20px;
    }

    .name{
        margin-top: 16px;
        font-size: 14px;
        font-weight: 400;
        line-height: 16px;
        letter-spacing: 0em;
        color: #121212;
        opacity: 0.6;
        
    }
    .info{
        display: flex;
        justify-content: space-between;
        margin-top: 16px;
        .price{
            padding-top: 5px;
            font-size: 14px;
            font-weight: 700;
            line-height: 16px;
            letter-spacing: 0em;
        }
        .rating img{
            width: 10px;
            margin-left: 4px;
        }
    }

}